@use "/src/sass/base/variables.scss" as *;
.where {
  p {
    color: $dark;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  img {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    width: 340px;
    height: 234px;
    // object-fit: cover;
  }
  &__pick {
    margin-top: 60px;
  }
  &__decrp {
    padding-top: 35px;
  }
}
.location {
  margin-top: 120px;
  &__map {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .where {
    display: flex;
      justify-content: center;
      align-items: center;
    img {
      width: 600px;
      height: 412px;
    }
    &__pick {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .where {
    img {
      width: 550px;
      height: 378px;
    }
    &__opsh {
      margin-top: 60px;
    }
    &__pick {
      margin-top: 0;
    }
    &__decrp {
      padding-top: 0;
    }
    &__opsh {
      display: grid;
      grid-template-columns: 550px 570px;
      gap: 20px;
    }
  }
} 

@media screen and (min-width:1920px) {
  .where {
    p {
      font-size: 20px;
      line-height: 24px;
    }
    img {
      width: 700px;
      height: 481px;
    }
    &__opsh {
      margin-top: 100px;
      grid-template-columns: 700px 720px;
    }
  }
  .git {
    margin-top: 100px;
  }
  .blog__title {
    margin-top: 100px;
  }
}
.location {
  margin-top: 160px;
}